body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.container img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  width: 600px; /* Define um tamanho fixo, mas ainda responsivo com max-width */
}

.container img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
