* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #2e003e, #4d0066);
  color: white;
  padding: 20px;
  min-height: 100vh;
  margin: 0;
}

.tela-inicial {
  height: calc(100vh - 40px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 300px;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}