* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.tela-inicial {
  background-image: url('Imagens/!\ Telão.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 300px;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}